/* Base Application Styles */
body {
}

#app .init {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #3fb39d;
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
